/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BACKGROUND COLOR */
.bg-midnight-blue {
    background-color: #2c3e50;
}

.bg-turquoise {
    background-color: #1abc9c;
}

.bg-rosewood {
    background-color: #ba4b63;
}

.bg-pacific-blue {
    background-color: #1ea4b6;
}

.bg-onyx {
    background-color: #140f0f;
}

.bg-cerulean {
    background-color: #1c83c1;
}

.bg-cobalt-blue {
    background-color: #0e38b5;
}

.bg-desert-sand {
    background-color: #ccb2a3;
}

.bg-slate-blue {
    background-color: #3a546d;
}

.bg-charcoal-blue {
    background-color: #2c3e50;
}

header {
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
}

.lines:after,
.lines:before {
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}