/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BACKGROUND COLOR */
.bg-midnight-blue {
    background-color: #2c3e50;
}

.bg-turquoise {
    background-color: #1abc9c;
}


/* CLASS */
.lines:after,
.lines:before {
    content: '';
    width: 20%;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
}

.presentation .lines:after,
.presentation .lines:before,
.about .lines:after,
.about .lines:before {
    background-color: white;
}

.portfolio .lines:after,
.portfolio .lines:before {
    background-color: black;
}